.jumbotron{
	//background: url( 'assets/together.png');
	background-size: 100% auto;
	background-position: 50% 50%;
	background:#000;

}

body{
		background: #000;
}

.container{

	background: #000;
	color:#fff;

}
.jumbotron .container{
	background: none;
	color:#fff;
}

.images img{

	width:100%;

}

.row h3{

	border-bottom: 1px solid white;
	padding:10px;

}